<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080488029964-n7q62mvfovguuv0o7hnl7aqbvh5sho3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080488029964-n7q62mvfovguuv0o7hnl7aqbvh5sho3c</string>
	<key>API_KEY</key>
	<string>AIzaSyC_1opfHAck4b3j1UYJdXuJWGiNWsin4rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1080488029964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alchat</string>
	<key>PROJECT_ID</key>
	<string>alchat-97104</string>
	<key>STORAGE_BUCKET</key>
	<string>alchat-97104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080488029964:ios:e91a6287ed3a0dc2bb6329</string>
</dict>
</plist>